
header{
	width: 100%;
}


header nav ul{
	overflow: hidden;
	list-style: none;
	padding-left: 0px;
}
header nav ul li a{
	
	color:black;
	padding: 20px;
	display:block;
	text-decoration: none;
	text-align:center;
}
header nav ul li a:hover{
	background:rgba(87,70,70,0.7);
	color:white;
	text-decoration:none;
}

	header nav{
		
background-image: linear-gradient(to right, #757F9A 0%, #D7DDE8 51%, #757F9A 100%);
		width:100%;
		top:60px;
		height:100%;
		display: none;
		position: fixed;
	}
	
	header nav ul li {
		display: :block;
		float:none;
		border-bottom:1px solid black;
	}
	.menu{
		display:block;
		width: 100%;
		color:white;
		position:fixed;
		text-align:right;
	}
	.menu .btn{
		width: 100%;
		position:fixed;
		display: block;
		padding: 20px;
		top:0;
	background-image: linear-gradient(to right, #16222A 0%, #3A6073 51%, #16222A 100%);
		color:white;
		text-align:center;
		text-decoration: none;
		box-sizing: border-box;
		font-weight: bold;
}
